.cart{
    width: 500px;
    margin: 0 auto;
    border: 1px solid #000;

}

.status{
    text-align: center;
}

.item{
    display: flex;
    justify-content: space-between;
}

.item__section{
    width: 33%;
    border-right: 1px dotted #000;
    text-align: center;
    margin-top: 10px;
}
.item__section:last-child{
    border-right: none;
}